.contactbody {
  width: 100vw;
  height: 100vh;
  background-color: #0e413d;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-image: url(/ball.jpg);
  background-position: center;
  background-size: cover;
  .contactmain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    background-color: #ff9800;
    top: 255px;
    .contacttext {
      width: 500px;
      height: 450px;
      background-color: transparent;
      font-size: large;
      font-family: pagolin;
      color: black;
      .content {
        display: flex;
        margin-top: 50px;
        background-color: transparent;
        flex-wrap: wrap;
        .address {
          width: 200px;
          height: 150px;
          background-color: transparent;
          font-weight: normal;
          font-size: small;
          font-family: pagolin;
        }
        .contactemail {
          width: 199px;
          height: 100px;
          background-color: transparent;
          font-family: pagolin;
          font-size: small;
        }
      }
      .socialmedia {
        top: 40px;
        width: 400px;
        height: 160px;
        background-color: transparent;
        display: flex;
        padding-top: 100px;
        .instagram {
          width: 140px;
          height: 25px;
          background-color: tranparent;
          font-family: pagolin;
        }
        .twitter {
          width: 140px;
          height: 25px;
          background-color: transparent;
          font-family: pagolin;
        }
        .facebook {
          width: 140px;
          height: 25px;
          background-color: transparent;
          font-family: pagolin;
        }
      }
    }
  }
}
