.Home {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 10px;
  background-color: white;

  &::before {
    content: "";
    position: fixed;
    top: -5vw;
    left: -5vh;
    width: 110vw;
    height: 110vh;
    display: flex;
    background-image: url("/bg1.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    filter: blur(15px);
  }

  .first {
    width: 100vw;
    height: 100vh;
    min-height: 550px;
    max-height: 700px;
    display: flex;
    flex-wrap: wrap;

    .left {
      width: 50%;
      height: 100%;
      display: flex;
      min-height: 550px;
      max-height: 650px;
      overflow: hidden;

      .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 300px;
        height: 100%;
        display: flex;
        background-image: url(/img.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;


        @keyframes animate1 {

          0%,
          20% {
            top: 0;
          }

          22%,
          100% {
            top: 200vh;
          }
        }


        @keyframes animate2 {

          0%,
          20% {
            top: 200vh;
          }

          21%,
          40% {
            top: 0;
          }

          41%,
          100% {
            top: 200vh;
          }
        }

        @keyframes animate3 {

          0%,
          40% {
            top: 200vh;
          }

          41%,
          60% {
            top: 0;
          }

          61%,
          100% {
            top: 200vh;
          }
        }


        @keyframes animate4 {

          0%,
          60% {
            top: 200vh;
          }

          61%,
          80% {
            top: 0;
          }

          81%,
          100% {
            top: 200vh;
          }
        }

        @keyframes animate5 {

          0%,
          80% {
            top: 200vh;
          }

          81%,
          98% {
            top: 0;
          }

          100% {
            top: 200vh;
          }
        }

        &:nth-of-type(1) {
          background-image: url(/img.png);
          top: 0;
          animation: animate1 40s ease-out infinite normal forwards;
        }

        &:nth-of-type(2) {
          background-image: url(/img2.png);
          top: 200vh;
          animation: animate2 40s ease-out infinite normal forwards;
        }

        &:nth-of-type(3) {
          background-image: url(/img3.png);
          top: 200vh;
          animation: animate3 40s ease-out infinite normal forwards;
        }

        &:nth-of-type(4) {
          background-image: url(/img4.png);
          top: 200vh;
          animation: animate4 40s ease-out infinite normal forwards;
        }

        &:nth-of-type(5) {
          background-image: url(/img4.png);
          top: 200vh;
          animation: animate5 40s ease-out infinite normal forwards;
        }
      }
    }
  }
}