.headerdash {
  height: 45px;
  width: 100%;
  background-color: black;
  display: flex;
  position: fixed;
  top: 0;
  justify-items: center;
  align-items: center;

  .headerdashcontent {
    color: #726a6a;
    font-size: small;
    width: 100px;
    left: 40px;
    display: flex;
    justify-content: center;
    &.squaretime {
      width: 131px;
      height: 25px;
      background-color: white;
      margin-left: 40px;
      border-radius: 5px;
    }
    &.promotions {
      font-size: 17px;
      font-weight: 15px;
    }
    &.circle {
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 25px;
      left: 200px;
    }
  }
}
