@import "./variable.scss";

.dashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;

    &.light-mode {
        background-color: $lightBG;
    }

    &.dark-mode {
        background-color: $darkBG;
    }
}