* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  position: relative;
  transition: all 0.4s;
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

@font-face {
  src: url(/Pangolin-Regular.ttf);
  font-family: pagolin;
}
