.navbackground{
    width:100vw;
    height:100vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    .navcenter{
        width:1200px;
        height:600px;
        background-color:#63639f12;
        border-radius: 2%;
        .naviconbar{
            width:80px;
            height:100%;
            background-color:red;
            .bar{
                width:100%;
                height:45px;
                background-color:transparent;
            }
            .firebar{
                width:100%;
                height:45px;
                background-color:transparent;
            }
            .ballbar{
                width:100%;
                height:45px;
                background-color:transparent;
            }
            .basketballbar{
                  width:100%;
                  height:45px;
                  background-color:transparent;
            }
            .baseballbar{
                width:100%;
                height:45px;
                background-color:transparent;
            }
            .cricketbar{
                width:100%;
                height:45px;
                background-color:transparent;
            }
            .bottlebar{
                width:100%;
                height:45px;
                background-color:transparent;
            }
            .rugbybar{
                width:100%;
                height:45px;
                background-color:transparent;
            }
            .glovesbar{
                width:100%;
                height:45px;
                background-color:transparent;
            }
            .softball{
                width:100%;
                height:45px;
                background-color:transparent;
            }
            .gamepad{
                width:100%;
                height:45px;
                background-color:transparent;
            }
            .cricgloves{
                width:100%;
                height:45px;
                background-color:transparent;
            }
            .offsideflag{
                width:100%;
                height:45px;
                background-color:transparent;
            }
        }
    }
}